DJANGO_SECRET_KEY=change-moi-en-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.74
LICENCE_SECRET=moneytracking-secret-key-change-moi

# Base de données MySQL
DB_NAME=moneytracking_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
